@font-face {
  font-family: Manrope;
  src: url("../assets/fonts/Manrope-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Manrope;
  src: url("../assets/fonts/Manrope-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Manrope;
  src: url("../assets/fonts/Manrope-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: antebas;
  src: url("../assets/fonts/antebas-black-fsp.otf");
  font-weight: 500;
}
@font-face {
  font-family: girloy;
  src: url("../assets/fonts/Gilroy-Light.otf");
  font-weight: 300;
}

* {
  font-family: Manrope;
}
:root {
  --header-background: #f0ebe8;
}

.header {
  background-color: var(--header-background);
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/minimal-plant.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

