.title-brown {
  font-family: girloy;
  color: #453132;
}

.first-layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1em;
}

.big-square {
  grid-column: 1 / span 5;
  grid-row: 1 / span 6;
  background-color: #fff;
  border-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.small-square {
  grid-column: 4;
  grid-row: 1 / 7;
  background-color: #fff;
  border-radius: 20px;
  padding: 1em;
}

.button-see {
  border: 4px solid #453132;
  background: transparent;
  padding: 20px;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.2s;
}
.button-see:hover {
  background: #453132 !important;
  color: #fff !important;
}

.overflow-hidden {
  overflow: hidden;
}

.button-circle {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 28px -3px rgba(0, 0, 0, 0.3);
  z-index: 3000;
}

.corner-images {
  position: absolute;
  cursor: pointer;
  width: 100px;
  transform: rotate(-60deg);
  z-index: 1000;
  user-select: none;
}

.main-container {
  position: relative;
  /* margin: auto; */
  width: 60vw;
  min-height: 60vh;
  background: rgba(255, 255, 255, 0.3) !important;
  padding: 2em;
}

.grid-second {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-second-first {
  grid-row: 1 / 6;
}
.grid-second-second {
  grid-row: 1 / 2;
  grid-column: 2 / 2;
}
.grid-second-thrid {
  grid-row: 2 / 6;
}

.grid-third {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.four-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 50em) {
  .main-container {
    width: 90vw;
    min-width: 300px;
    height: max-content;
    /* height: fit-content; */
    /* margin-top: 2em; */
    /* min-height: 450px; */
  }
  .grid-second {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-template-rows: repeat(5, 1fr); */
  }
  .grid-second-first > svg {
    /* transform: scale(0.5); */
  }

  .grid-third {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .four-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 1fr);
  }
}
